<ion-content>
  <!-- Form Container  -------------------------------------------------------------------------------------------------------------------------------->
  <form class="formContainer"
        [formGroup]="formObj">

    <ion-grid>
      <!---- Full Page Holder Row *Used to center ALL PAGE CONTENT vertically + horizontally ----------------------------------------------------->
      <ion-row class="fullViewHeight">
        <ion-col class="ion-align-self-center ion-justify-content-center"
                 size-sm="6"
                 offset-sm="3"
                 size-lg="5"
                 offset-lg="3.5">

          <!-- Card Container* ------------------------------------------------------------------------------------------------------------->
          <ion-card class="cardBackground ">
            <ion-card-content>

              <!-- Logo Image Holder -------------------------->
              <ion-card-title>
                <ion-img class="logoImg animated flipInY"
                         src='assets/logos/logo1.png'></ion-img>
              </ion-card-title>

              <ion-grid>
                <!-- Email Input Row -------------------------------------------------------------------------------->
                <ion-row class="authInputRowPadding ion-justify-content-center">
                  <ion-col size="12">
                    <cstm-input-item [errorCondition]="formObj.get('email').invalid && formObj.get('email').touched"
                                     [errorMsg]="errorMsgs.email"
                                     placeholder="Email, phone or username"
                                     controlName="email">
                    </cstm-input-item>
                  </ion-col>
                </ion-row>

                <!-- Password Input Row ---------------------------------------------------------------------------->
                <ion-row class="authInputRowPadding ion-justify-content-center">
                  <ion-col size="12">
                    <cstm-input-item type="password"
                                     [errorCondition]="formObj.get('password').invalid && formObj.get('password').touched"
                                     [errorMsg]="errorMsgs.password"
                                     placeholder="Password"
                                     controlName="password">
                    </cstm-input-item>
                  </ion-col>
                </ion-row>

                <!-- Sign In Button Row ---------------------------------------------------------------------------->
                <ion-row class=" ion-justify-content-center">
                  <ion-button type="button"
                  mode="ios"
                              shape="round"
                              class=" on-activatable ripple-parent signInBtn"
                              [disabled]="formObj.invalid"
                              (click)="signIn()"
                              expand="block"
                              fill="solid"
                              color="primary">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-text style="text-transform: capitalize; font-size: 15px;   font-weight: 900;"
                              class="fontBtn">
                      Sign In
                    </ion-text>
                  </ion-button>
                </ion-row>

                <!-- Forgot Password Button Row ------------------------------------------------------->
                <ion-row class=" ion-justify-content-center">
                  <ion-button routerLink='/auth/forgot-password'
                              routerDirection="forward"
                              expand="block"
                              fill="clear"
                       button
                       tappable
                       mode="ios"
                              color="medium">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-text color="dark"
                              style="text-transform: capitalize; font-size: 12px; font-weight: 400;"
                              class="fontBtn">
                      Forgot Password?
                    </ion-text>
                  </ion-button>
                </ion-row>


                      <!-- OR Text ----------------------------->
                      <div class="orTextSeperation">
                        <span class="textInSeparator">OR</span>
                      </div>

                         <!-- Create Account Button Row ------------------------------------------------------->
                         <ion-row class=" ion-justify-content-center">
                           <ion-button routerLink='/auth/sign-up'
                                       routerDirection="forward"
                                       expand="block"
                                   button
                                   tappable
                                   mode="ios"
                                       fill="clear">
                             <ion-ripple-effect></ion-ripple-effect>
                             <ion-text color="secondary"
                                       style="text-transform: capitalize; font-size: 18px; font-weight: 900;"
                                       class="fontBtn">
                               Create An Account
                             </ion-text>
                           </ion-button>  
                         </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>


        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>