.password-flow {
  background-size: 250px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 300px;
    margin-top: $unit * 5;
  }
  .result-icon {
    margin-top: 50px;
  }
  // form {
  //   max-width: 450px;
  //   margin: auto;
  // }
  .landing__logo {
    margin: 0 auto;
  }
  label {
    @include font-size(1.4);
    &.active {
      color: $black;
    }

  }
  h2 {
    @include font-size(4.2);
    text-align: center;
    margin-bottom: $space-sm;
  }
  input {
    margin-bottom: $unit * 8;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list-inline {
    // border: solid red;
    display: inline-block;
    li {
      a{
        color: #9B9B9B;
      }

    }
  }
}

.content-password {
  // max-width: 550px;
  margin: auto;

}
.form-question {
  margin-bottom: $space * 5;
}
.item-form__sub-header {
  @include font-size(2.2);
  max-width: 500px;
  margin: auto;
}
