  
  <!------- Input Holder ---------------------------------------------------->
  <ion-item style="     --border-radius: 10px 10px 4px 4px; --border-width: 1px;"
            [ngClass]="  {'errorItem':  errorCondition  }"
            [lines]="lines">

  <!------- Label -------------------->
    <ion-label *ngIf="labelPosition !== undefined"
               [position]="labelPosition"
               [color]="labelColor">
      <!------- Label Icon ------------>
      <ion-icon *ngIf="labelIcon !== undefined"
                [name]="labelIcon"
                [slot]="labelIconSlot">
      </ion-icon>
      {{label}}  
    </ion-label>

    <!------- Input --------------------------->
    <ion-input 
               [ionMask]="determineMaskToUse()"
               [formControlName]="controlName"
               [placeholder]="placeholder"
               [type]="type"
               [color]="color"

               [disableControl]="disabled"
               [readonly]="readonly"
               
               [name]="name"
               [min]="min"
               [max]="max"
               [spellcheck]="spellcheck"
               [autocapitalize]="autocapitalize"
               [autocomplete]="autocomplete"
               [autocorrect]="autocorrect"
               [autofocus]="autofocus"

               [clearInput]="clearInput"
               [clearOnEdit]="clearOnEdit"
               [debounce]="debounce"
               [inputmode]="inputmode"

               
               (ionBlur)="ionBlur"
               (ionChange)="ionChange"
               (ionFocus)="ionFocus"
               (ionInput)="ionInput" >
    </ion-input>
  </ion-item>

    <!------- Input Error Message --------------------------->

    <p [hidden]="!errorCondition"
       class="errorMessage">
      {{errorMsg}}
    </p>
