/* LAYOUTS */
$unit: 5px;
$space-sm-xx: $unit;
$space-sm-x: $unit * 2;
$space-sm: $unit * 3;
$space: $unit * 4;
$space-md: $unit * 5;
$space-lg: $unit * 6;
$space-lgx: $unit * 8;
$space-lgxx: $unit * 10;
$space-lgxxx: $unit * 12;
$space-xlg: $unit * 16;
$space-section-heading: $unit * 20;
$space-grid-gutter: 60px;
$grid-row-width: 960px;
